<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007719821455-sjvks7qvl5660isuoeoug937vrpepc4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007719821455-sjvks7qvl5660isuoeoug937vrpepc4r</string>
	<key>API_KEY</key>
	<string>AIzaSyBcX7cvS0NK78AkF6gHWJjokIugNdavnsg</string>
	<key>GCM_SENDER_ID</key>
	<string>1007719821455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AlexisPQA.TicketBooking</string>
	<key>PROJECT_ID</key>
	<string>ticketbooking-b62a1</string>
	<key>STORAGE_BUCKET</key>
	<string>ticketbooking-b62a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007719821455:ios:ab6bb594bbd319c451c0fa</string>
</dict>
</plist>